<a class="btn btn-success" href="#" data-toggle="modal" data-target="#clientModal"> Novo Cliente </a>

<table id="example" class="table table-striped">

  <thead>
    <tr>
      <th>#</th>
      <th>Nome</th>
      <th>Atribuição</th>
      <th>E-mail</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>

    <% @profile_customers.each do |profile| %>
      <tr>
        <td><%= profile.id %></td>
        <td><%= profile.name %></td>
        <td><%= profile.type %></td>
        <td><%= profile.customer.email %></td>
        <td>
          <%#= link_to edit_office_path(office), class: 'btn btn-primary btn-circle' do %>
            <i class="fa fa-edit"></i>
          <%# end %>
        </td>
      </tr>
    <% end %>

  </tbody>

</table>
