services:
  database:
    image: postgres:alpine
    hostname: postgres
    container_name: database_procstudio_api
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: prc_api_development
    networks:
      - app-network

  redis:
    image: redis:alpine
    hostname: redis
    container_name: redis_procstudio_api
    ports:
      - "6379:6379"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
