<h2 class="mg-left">Novo Usuário</h2>

<div class="col-md-12 col-sm-12 ">
	<div class="x_panel">

		<div class="x_content">

			<%= render partial: "profile_admins/shared/form" %>

		</div>
	</div>
</div>
