@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,700;1,300&display=swap');
@import "bootstrap";
/*= require dataTables/jquery.dataTables */
@import "font-awesome";

:root{
  --default-blue: #2A3F54;
  --default-white: #FFFFFF;
  --button-success: #28a745;
  --green-wizard: #1ABB9C;
  --gray-footer: #888888;
  --sw-anchor-active-primary-color:  #1ABB9C !important;
  --sw-anchor-done-primary-color:  rgba(42, 63, 84, 0.7) !important;
  --sw-progress-color:: #2A3F54 !important;
}
body{
  font-family: 'Nunito', sans-serif;
}
// ajuste no menu sandwich
#sidebarToggleTop{
  color: var(--default-blue);
  margin-left: 5px;
}
// ajustes em datatables
#example_length{
  text-align: right;
}
#example_length,
#example_filter{
  width: 50%;
  float: right;
}
.dataTables_info{
  margin-bottom: 10px;
}
.paginate_button:hover{
  background-color: rgba(42, 63, 83, .6);
  border: solid 1px rgba(42, 63, 83, .6);
  text-decoration: none;
  color: white;
}
.paginate_button{
  border: solid 1px;
  padding: 5px 13px;
  text-decoration: none;
}
#example_previous,
#example_next{
  border: none;
}
// linha para títulos
.h-line::after{
  content: '';
  display: block;
  width: 65px;
  height: 2px;
  background: #AAAAAA;
  margin-top: .3em;
}
// checkboxes
.form-check-input:checked{
  background-color: var(--green-wizard);
  border-color: var(--green-wizard);
}
// fix tab-content form wizard
.tab-content{
  height: auto !important;
}
