@import "bootstrap";
/*= require dataTables/jquery.dataTables */
@import "font-awesome";

:root{
  --default-blue: #2A3F54;
  --default-white: #FFFFFF;
  --button-success: #28a745;
  --green-wizard: #1ABB9C;
}

// ajuste no menu sandwich
#sidebarToggleTop{
  color: #2A3F54;
  margin-left: 5px;
}
