.nav-link{
  font-size: .85rem;
  display: inline;
}
.btn-circle{
  border-radius: 50%;
}
.form-title{
  font-size: 1.4em;
  margin: 1em 0;
}
.btns{
  padding: 0;
  margin-top: 1.5em;
  text-align: right;
}
.btns .btn-success{
  margin-right: .5em;
  padding-left: 30px;
  padding-right: 30px;
}
/* footer */
.footer-container{
  width: 80%;
  margin: 0 auto;
}
.footer-item{
  margin-top: 1.8em;
  width: 25%;
  float: left;
  color: var(--gray-footer);
  font-size: .9rem;
}
.footer-item:first-child{
  margin-top: 0;
}
#footer-copyright{
  font-size: .7rem;
}
.footer-social-icon{
  font-size: 2rem;
  margin-right: .8rem;
  color: var(--gray-footer);
}
.footer-social-icon:hover{
  color: var(--default-blue);
}

/* fim footer */
/* modal tipo de cliente */
.container-modal{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}
/* fim modal tipo de cliente */
/* item modal seleção de cliente */
.client-choose{
  margin: 2em 0;
  border: solid 1px var(--default-blue);
  border-radius: 10px;
}
.client-choose > a{
  color: rgba(42, 63, 84, 0.9);
  font-size: 1em;
}
.client-choose:hover{
  color: #FFFFFF;
  background-color: var(--default-blue);
}
/* fim item modal seleção de cliente */
