body{
  background-color: var(--default-blue);
}
#devise-logo{
  width: 200px;
}
#devise-container{
  width: 40%;
  margin: 5% auto;
  text-align: center;
  border-radius: 10px;
  background-color: var(--default-white);
}
#devise-container > form{
  padding: 0 15%;
}
.devise-login-field{
  margin: 2em 0 1em 0;
}
#devise-login-button{
  width: 100%;
  background-color: var(--button-success);
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
  line-height: 38px;
  margin-top: 0.9em;
  font-weight: bolder;
}
#devise-links{
  padding: 1em 0;
  text-align: left;
  margin-left: 15%;
}
